// --------------------
// Definition of variables
$primary: #32c3ff;


// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
// @import 'bootstrap/scss/bootstrap';
// ----------------------------------------
* {
  box-sizing: border-box;
}

// --------------------
// Style reusable for all components
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: grey;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

// --------------------
// Style for App component
.App {
  text-align: center;

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }

  .App-header {
    background-color:rgba(0, 0, 0, 0.5);;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    a {
      color: white;
      padding: 0 5px;
      text-decoration: unset;
    }

    a.active {
      font-weight: bold;
    }
  }

  .App-title {
    font-size: 1.5em;
  }

  .App-intro {
    font-size: large;
  }

  .social-icons {
    display: flex;
  }

  .icon {
    width: 2vw;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

// --------------------
// Style for Home component
.Home {
  p {
    font-size: 1.2em;
  }
}
.home-wrapper {
  position: relative;
}
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
#myVideo {
  display: flex;
  position: relative;
  background-size: cover;
}
.home-bg-picture {
  width: 100vw;
}

// --------------------
// Style for WebDev component
.projects {
  display: flex;
  margin: 10px;
}

.project {
  margin: 10px;
}

.btn-link {
  text-decoration: none !important;
  color: white !important;
}
//--------------------
// About page

.profile-pic {
  border-radius: 100px;
  width: 150px;
  margin: 10px;
}
.about {
  margin: 20px;
}

//---------------
// Impressumg
.impressum{
  margin-top: 20px;
}
.impressum-p{
  text-align: justify;
  margin-left: 40px;
  margin-right: 40px;
}