* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: grey;
  color: white; }

.info.info-danger {
  background-color: #e73f3f; }

.content-main {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px; }

.App {
  text-align: center; }
  .App a {
    color: white;
    padding: 0 5px;
    text-decoration: unset; }
  .App a.active {
    font-weight: bold; }

.App-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 10px; }

.header-content {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

.social-icons {
  display: flex;
  margin-top: 10px; }

.icon {
  width: 2vw; }

.Home p {
  font-size: 1.2em; }

.home-wrapper {
  position: relative; }

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px; }

#myVideo {
  position: relative;
  background-size: cover; }

.home-bg-picture {
  width: 100vw; }

.portfolio {
  margin-top: 30vh;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1; }

.card-img-top {
  height: 25vh;
  object-fit: contain; }

.card-body {
  color: rgba(0, 0, 0, 0.5); }

.projects {
  display: flex;
  justify-content: center;
  margin: 10px; }

.project {
  margin: 10px;
  width: 30vw;
  height: auto; }

.btn-link {
  text-decoration: none !important;
  color: white !important; }

.about {
  margin-top: 30vh;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px; }

.profile-pic {
  border-radius: 100px;
  width: 150px;
  margin: 10px; }

.about-container {
  margin: 20px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1; }

.about-text {
  text-align: justify;
  margin-left: 40px;
  margin-right: 40px; }

.blog {
  margin-top: 30vh;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px; }

.blog-container {
  margin: 20px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1; }

.impressum {
  margin-top: 30vh;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px; }

.impressum-container {
  margin: 20px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1; }

.impressum-p {
  text-align: justify;
  margin-left: 40px;
  margin-right: 40px; }
